<!--
        Generated with generate.sh, made by Der_Googler <support@dergoogler.com>
        Spoof for Google Raven. Build date 2022-06-19 / 17:16:22
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.google.raven"
        android:versionCode="100"
        android:versionName="V10">
        <overlay android:targetPackage="android"
                android:targetName="OverlayableResources"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+*google/raven*"
                android:priority="185"
                android:isStatic="true" />
</manifest>
