<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.samsung.a70.systemui"
        android:versionCode="120"
        android:versionName="V20">
        <overlay android:targetPackage="com.android.systemui"
                android:targetName="OverlayableResources"
                android:requiredSystemPropertyName="persist.overlay.dg.enable"
                android:requiredSystemPropertyValue="+*true*"
                android:priority="185"
                android:isStatic="true" />
</manifest>
