<!--
        Generated with generate.sh, made by Der_Googler <support@dergoogler.com>
        Spoof for Google Bluejay. Build date 2022-06-18 / 15:03:59
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.google.bluejay.systemui"
        android:versionCode="120"
        android:versionName="V20">
        <overlay android:targetPackage="com.android.systemui"
                android:targetName="OverlayableResources"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+*google/bluejay*"
                android:priority="185"
                android:isStatic="true" />
</manifest>
