<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.samsung.a70"
        android:versionCode="120"
        android:versionName="V20">
        <overlay android:targetPackage="android"
                android:targetName="OverlayableResources"
                android:requiredSystemPropertyName="persist.sys.overlay.dg.basic"
                android:requiredSystemPropertyValue="+*true*"
                android:priority="185"
                android:isStatic="true" />
</manifest>
