<!--
        Generated with generate.sh, made by Der_Googler <support@dergoogler.com>
        Spoof for Google Cheetah. Build date 2022-06-15 / 18:26:29
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.google.cheetah"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+*google/cheetah*"
                android:priority="185"
                android:isStatic="true" />
</manifest>
