<!--
        Generated with generate.sh, made by Der_Googler <support@dergoogler.com>
        Spoof for Google Sunfish. Build date 2022-06-13 / 15:17:37
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.google.sunfish"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+*google/sunfish*"
                android:priority="185"
                android:isStatic="true" />
</manifest>
